.app {
  position: relative;
  box-sizing: border-box;
  padding: 2em 8em;
  min-height: 100%;
}

.app__background-wrap {
  background-image: url("../images/logo192.png");
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

.app__form-wrapper {
  margin-bottom: 2em;
}

.app__foreground-wrap {
  background-color: rgb(20, 20, 20, 0.9);
  padding: 2em;
}

.app__title {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  text-align: center;
  margin-bottom: 1.5em;
}

.app__records-wrapper {
}
